.contenido-informacion-empresa {
  min-height: 100vh;
  padding-top: 15px;
  padding-bottom: 30px;
}

.contenido-informacion-contacto {
  min-height: 100vh;
  padding-top: 15px;
  padding-bottom: 40px;
}

.titulo-bold {
  font-weight: bold;
}
