<div class="container">
  <div class="row ">
    <div class="col-sm-12 col-lg-5">
      <div class="contenido-informacion-empresa bg-white">
        <p class="m-3 titulo-bold">INFORMACIÓN DE LA EMPRESA</p>
        <div class="text-center">
          <div>
            <p class="m-4"><strong>Nombre</strong> <br> Quipux S.A.S</p>
          </div>
          <div>
            <p class="m-4"><strong>Fecha creación</strong> <br>1995/05/06</p>
          </div>
          <div>
            <p class="m-4"><strong>Dirección</strong> <br>Carrera 43A No. 3 Sur-130 <br> Ed. Milla de Oro <br> Distrito de negocios Torre 1 <br> Piso 12 <br><br> Medellín - Colombia </p>
          </div>
          <div>
            <p class="m-4"><strong>Número de teléfonos</strong><br>Fijo<br>+57 (4) 313-70-00<br>Fax<br>+57 (4) 313-44-77</p>
          </div>
          <div>
            <p class="m-4"><strong>Sitio Web</strong> <br><a href="https://www.quipux.com/site">https://www.quipux.com/site</a></p>
          </div>
        </div>
      </div>
    </div>
    <!-- Columna derecha -->
    <div class="col-sm-12 col-lg-7 w-100">
      <div class="contenido-informacion-contacto bg-white">
        <p class="ml-5 titulo-bold">INFORMACIÓN DEL CONTACTO</p>
        <div class="row no-gutters">
          <!-- Columna izquierda interna -->
          <div class="col-lg-6 col-md-6 border-right">
            <div class="text-center ">
              <div>
                <p class="m-4"><strong>Dirección</strong> <br>Carrera 452 # 91-66 <br> Medellín - Colombia </p>
              </div>
              <div>
                <p class="m-4"><strong>Correo electrónico</strong> <br>usuarioapellido@hotmail.com</p>
              </div>
              <div>
                <p class="m-4"><strong>Sitio Web</strong> <br><a class="text-dark" href="#">www.usuarioapellido.com</a></p>
              </div>
              <div>
                <p class="m-4"><strong>Red social</strong> <br>www.instagram.com/usuarioapellido <br> www.linkedin.com/usuarioapellido </p>
              </div>
            </div>
          </div>
          <!-- Columna derecha interna -->
          <div class="col-lg-6 col-md-6">
            <div class="text-center">
              <div>
                <p class="m-4"><strong>Dirección de correspondencia de correo</strong><br>Carrera 52 # 91-66<br>Envigado Colombia</p>
              </div>
              <div>
                <p class="m-4"><strong>Número de teléfonos</strong><br>Fijo<br>+57 (4) 313-70-00<br>Fax<br>+57 (4) 313-44-77</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
