.principal {
  flex: 1; /* Esto permite que el contenedor principal crezca y empuje el footer hacia abajo */
  padding-bottom: 60px; /* Añade espacio inferior para evitar que el contenido se superponga con el footer */
}
.principal{
  margin-top: 100px;
  margin-left: 50px;
}
html, body {
  height: 100%;
  margin: 0;
}
.d-flex {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


