

<div class="row">
  <div class="col-sm-12 col-lg-9">
    <div class="mx-5">
      <p class="titulo-buscar margen-separacion-top ml-5 text-primary">¿Que quieres buscar?</p>
      <p>Encuentra la información que desear consultar...</p>
      <div class="input-group">
        <div class="input-group-append">
          <select class="custom-select" id="serviceSelect">
            <option selected value="">
                Todos los servicios
            </option>
            <option value="servicio1">Servicio 1</option>
            <option value="servicio2">Servicio 2</option>
            <option value="servicio3">Servicio 3</option>
        </select>
        <input type="text" class="form-control bordes" placeholder="Que servicio quieres consultar" aria-label="Buscar">
        <button class="btn btn-primary" type="button"><i class="fa fa-search text-white" aria-hidden="true"></i></button>
        </div>
      </div>
      <div class="margen-separacion-top">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-body shadow">
                <div class="row">
                  <div class="col-4">
                    <p class="titulo-card"><strong>Certificado</strong> </p>
                    <div>
                      <span class="small mb-1">Conoce los beneficios que tenemos para ti al registrarte</span>
                    </div>
                    <button class="btn btn-outline-success mt-2">+ beneficios</button>
                  </div>
                  <div class="col-4">
                    <p class="titulo-card"><strong>Crear cuenta</strong></p>
                    <div>
                      <span class="small mb-1">Conoce los beneficios que tenemos para ti al registrarte</span>
                    </div>
                    <button class="btn btn-outline-success mt-2">Ver todo</button>
                  </div>
                  <div class="col-4">
                    <p class="titulo-card"><strong>Certificado</strong></p>
                    <div>
                      <span class="small mb-1">Conoce lostrámites más solicitados</span>
                    </div>
                    <button class="btn btn-outline-success mt-2">Ver todo</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-lg-3">
    <div>
      <figure>
        <img src="assets/images/resource-1.png" alt="" srcset="" class="imagen-mujer">
      </figure>
      <div class="servicios-quipux">
        <p><strong>SERVICIOS QUIPUX</strong></p>
      </div>
      <div class="card-tramites">
        <div class="linea-izquierda"></div>
        <div class="card">
          <div class="card-body shadow">
            <div>
              <p class="titulo-card"><strong>Trámites en tu mano</strong> </p>
              <div>
                <span class="small mb-1">Ahora podrás hacer todos tus trámites desde la comodidad de tu casa, desd cualquier dispositivo computadora, tablet o móvil.</span>
              </div>
              <div class="">
                <div class="container mt-5">
                  <div class="progress-container">
                    <div class="progress-bar"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
